.cardContainer{
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    width: 25rem;
    height: auto;
    background: #434545;
    border-radius: 10px;
    color: white;
  }
  
 
  